= form_for @quiz, :url => {:action => "grade"} do |form|
  - if quiz.errors.any?
    #error_explanation
      h2
        = pluralize(quiz.errors.count, "error")
        |  prohibited this quiz from being saved:
      ul
        - quiz.errors.full_messages.each do |message|
          li
            = message
  .field
    = form.label "Title: "
    = :title
  .field
    = form.label "Description: "
    = :description
  .field
    = form.hidden_field :user_id, id: :user_id
    = form.hidden_field :id, id: :quiz_id
  h3
    | Questions
  p
    = form.fields_for :questions do |f|
      = render 'take_quiz_question_fields', f: f
  .actions
    = form.submit "Grade Quiz", class: 'btn btn-primary'
  br
