<div class="form-profile-div quiz-show">
<h1>About</h1>

<p>Gems of Knowledge is an application made to support the academic growth and knowledge
  of its users through quiz creation. This application was made for SWE632 at GMU (Spring 2018). It is a
  Ruby on Rails application with some frontend JS frameworks and CSS.</p>

<h3>Actions</h3>

<p><b>Create</b>: You can create quizzes by clicking the New Quiz button after you log in.</p>
<p><b>Take</b>: After creating a quiz, the user (you!) can take or retake the quiz as many times as you like.</p>
<p><b>Edit</b>: The quiz content can be changed at anytime by clicking Edit.</p>
<p><b>Delete</b>: The quiz can be removed at any time. Please be cautious, quiz deletion is permanent!</p>

<h3>Help and Support</h3>

<p>If you have any comments, questions, concerns, or would like to suggest more features for our application
  please contact us at gemsofknowledge@gmail.com</p>

<h3>Authors</h3>

<p>Ryan Ammons: A senior consultant at Ammons Solutions and Software Engineering masters student at GMU.
  Ryan enjoys learning new technology and playing PUBG and ArmA (on his own server) in his spare time.
</p>
<p>Haruka Konishi: A software developer at BerkleyNet and Software Engineering masters student at GMU.
  Haruka enjoys making food with her friends and building IKEA furniture in her spare time.
</p>
  <%= link_to 'Back', quizzes_path %>
</div>

