<div class="text-center">
  <h2>About</h2>

  <p>UI demo application for SWE632 at GMU (Spring 2018). It is a simple quiz application.</p>

  <p>Dev Team: Ryan Ammons and Haruka Konishi</p>

  <p>The application is primarily Ruby on Rails with some frontend JS and CSS.</p>

  <p>Requires Ruby 2.3.3 and Rails 5.1.4; MySQL as the DB backend.</p>
</div>